* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
}

header,
main,
nav,
aside,
footer {
    background-color: steelblue;
    color: #fff;
    padding: 20px;
    border: skyblue 1px solid;
}